{:deps true
 :dev-http {4000 "public"}
 :nrepl false
 :builds
 {:app {:target :esm
        :optimizations :simple
        :output-dir "public/js"
        :modules {:main {:exports {default bm.nace-finder/main}}}}}}
