:host {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

bm-header {
  grid-area: header;
  /*background: red;
  color: white;*/
}

main {
  grid-area: main;
  margin: 25px auto;
}

bm-footer {
  grid-area: footer;
  /*background: red;
  color: white;*/
}
