#screen {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  font-size: 8pt;
  color: lightgrey;
}

@media (max-width: 600px) {
  #screen::before { content: "XS"; }
}

@media (max-width: 900px) {
  #screen::before { content: "SM"; }
}

@media (min-width: 1200px) {
  #screen::before { content: "LG"; }
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Fix page height for mobile Safari. */
  /* https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit */
  min-height: -webkit-fill-available; /* If I disable this, it works (Chrome). */
  min-height: stretch;
}

bm-header {
  /* grid-area: header; */
  /*background: red;
  color: white;*/
}

main {
  flex: 100;
  /* align-self: stretch; */
  /* min-height: 100vh; */
  /* grid-area: main; */
  margin: 25px auto;
}

bm-footer {
  /* grid-area: footer; */
  /*background: red;
  color: white;*/
}
