@media (max-width: 600px) {
  :host {
    width: 100vw;
    background: lightgreen;
    padding: 5vw 15px;
  }
}

@media (min-width: 600px) {
  :host {
    width: 600px;
    margin: auto;
  }
}

h4 {
  /* white-space: normal; */
  text-align: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
}
