@media (max-width: 600px) {
  :host {
    background: lightgreen;
    padding: 10px 15px;
    width: 90%;
    padding: 5% 15px;
  }
}

@media (min-width: 600px) {
  :host {
    width: 600px;
    margin: auto;
  }
}

h4 {
  white-space: wrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
